*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:cadetblue;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
i{
    font-size:40px;
    position:absolute;
    top:4px;
    left:15px;
    color:black;
}
.container{
    display:flex;
    width:500px;
    height:650px;
    border:2px solid black;
    justify-content:center;
    align-items:center;
    margin-top:45px;
}
.small{
    width:99%;
    height:98%;
    background:yellowgreen;
    display:flex;
    position:relative;
    transform-style: preserve-3d;
    transition:.5s;
    transition-delay: .8s;
}
.small:hover{
    transform:rotateY(180deg);
}
.face{
    position:absolute;
    backface-visibility: hidden;
    height:100%;
    width:100%;
}
.front{
    background:blueviolet;
    display:flex;
    justify-content:center;
    align-items:center;
}
.front img{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.front p{
    position:absolute;
    bottom:5px;
    font-size:2rem;
    color:white;
}
.back{
    background:yellow;
    transform:rotateY(180deg);
}
.back .inpt{
    display: block;

}
i{
    position:absolute;
}
.back .inpt input{
    width:250px;
    height:35px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:15px;
    outline:none;
    border:1px solid grey;
    border-radius:10px;
    padding:4px;
    background:rgb(226, 226, 58);
}
.back .area{
    width:95%;
    height:200px;
    margin-left:10px;
    margin-bottom:5px;
}
.back .area textarea{
    width:100%;
    height:100%;
    padding:5px;
    background:rgb(0, 255, 38);
    border:1px solid rgba(25, 99, 121, 0.212);
}
::placeholder{
    font-size:15px;
}
.btn{
    display:flex;
    justify-content:flex-end;
    margin-right:10%;
    height:40px;
    margin-bottom:5px;
}
.btn button{
    height:100%;
    width:100px;
    border-radius:10px;
    font-size:18px;
    background:linear-gradient(to top,lightblue,rgba(255, 0, 0, 0.713));
}
p{
    margin-left:5px;
    font-size:20px;
}
.social-links{
    margin-left:15%;
    margin-bottom:10px;
}
.social-links ul{
    list-style:none;
}
.social-links ul li{
    margin-bottom:3px;
}
.social-links ul li a{
    text-decoration:none;
    font-size:18px;
    color:aqua;
}
footer{
    flex-direction: column;
    margin-top:5px;
}
footer p{
    text-align: center;
}
@media(max-width:767px){
    body{
        background:linear-gradient(to left,rgba(0, 128, 0, 0.522),rgba(255, 0, 0, 0.563));
    }
    .container{
        height:600px;
        margin-top:30px;
    }
    .back{
        background:linear-gradient(to top,rgb(76, 109, 255),rgba(43, 90, 43, 0.567))
    }
    .back .inpt input{
        background:lightblue;
        box-shadow:0px 5px 3px rgb(57, 74, 79);
    }
    .back .area{
        height:150px;
    }
    .back .area textarea{
        background:rgb(15, 227, 255);
        box-shadow:3px 5px 5px rgb(0, 255, 255);
    }
    .btn{
        margin-top:5px;
    }
    .btn button{
        background:rgb(18, 247, 18);
        box-shadow:0px 5px 4px rgba(0, 0, 0, 0.656);
    }
}
@media (max-width:415px){
    body{
        background:linear-gradient(to right,blue,red);
    }
    .container{
        width:380px;
        height:550px;
        margin-top:-80px;
        margin-left:-30px;
    }
    .front p{
        font-size:17px;
    }
    .back{
        background:slateblue;
    }
    .back .inpt{
        margin-top:10px;
    }
    .back .inpt input{
        height:25px;
        margin-bottom:5px;
        margin-top:2px;
        width:180px;
        background:transparent;
    }
    ::placeholder{
        color:rgb(54, 51, 51);
    }
    .back .area{
        height:90px;
    }
    .btn{
        height:25px;
    }
    i{
        margin-top:10px;
        font-size:25px;
        margin-left:10px;

    }
    .btn button{
        width:80px;
        font-size:15px;
    }
    p{
        font-size:16px;
        margin-top:2px;
    }
    .social-links{
        margin-bottom:5px;
    }
    .social-links ul li{
        margin-bottom:2px;
    }
    .social-links ul li a{
        font-size:16px;
    }
    i{
        font-size:18px;
        color:red;
        top:0;
        left:0;
    }
}