*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background-image:url('loginbg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    display:flex;
    justify-content:center;
    margin-top:100px;
}
.form-container{
    width:500px;
    height:500px;
    border:1px solid rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items:center;
}
form h2{
    text-align:center;
    font-size:1.4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form .input-field{
    width:300px;
    height:40px;
    margin-top:15px;
    position:relative;

}
form .input-field input{
    width:100%;
    height:100%;
    background:rgba(157, 155, 155, 0.5);
    padding:8px;
    border:none;
    outline:none;
    border-bottom:1px solid rgb(0, 0, 0);
    border-radius:10px;
}
::placeholder{
    color:rgba(12, 165, 215, 0.475);
}
span{
    color:red;
}
i{
    position:absolute;
    bottom:3px;
    font-size:20px;
    left:90%;
    color:rgb(128, 0, 102);
    cursor:pointer;
}
.login{
    margin-top:10px;
    margin-bottom:6px;
    display:flex;
    justify-content:center;
}
.login .btn{
    width:150px;
    height:40px;
    background:red;
    border-radius:10px;
    font-size:22px;
    font-weight:550;
    border:2px solid darkred;
    cursor:pointer;
}
.rem{
    margin-bottom:7px;
}
.rem input{
    margin-right:5px;
}
.rem a{
    margin-left:60px;
    text-decoration: none;
    color:blue;
}
p{
    margin-bottom:20px;

}
p a{
    margin-left:19px;
    text-decoration: none;
    color:blue;
}
footer{
    margin-top:5px;
}
footer p{
   text-align:center;
   margin-bottom:3px;
}
@media (max-width:760px){
    body{
        background:linear-gradient(to top,rgb(60, 72, 148),rgb(81, 35, 94));
        height:100dvh;
    }
    .form-container{
        width:400px;
        height:400px;
        border-radius:16px;
    }
    .rem a, p a{
        color:cyan;
    }
}
@media (max-width:415px){
    .form-container{
        width:325px;
        height:420px;
    }
    form h2{
        color:aqua;
    }
    form .input-field{
        width:265px;
        height:35px;
        background:rgba(128, 128, 128, 0.282);
    }
    span{
        font-size: 13px;
    }

.login .btn{
    width:140px;
    height:35px;
    background:lime;
    border:2px solid green;
}
.rem a,p a{
    color:rgb(240, 10, 10);
}
.rem{
    margin-left: 4px;
}
.rem a{
    margin-left:15px;
    font-size: 15px;
}
form .input-field{
    margin-left: 20px;
}
}
